Repository fga-eps-mds/2020.1-Grupo6, pull requests merged in 2020-10, with the labels that each got.

#94 Atualiza o readme
  README.md
Labels: Documentação, EPS, Organização, Refatoração

#106 [Issue100][WIP] Creates Quality Doc
  docs/org_artifacts/img/codacy.png
  docs/org_artifacts/img/code_climate.png
  docs/org_artifacts/img/mocha_chai.png
  docs/org_artifacts/img/post_unit_test.png
  docs/org_artifacts/quality_doc.md
  mkdocs.yml
Labels: Documentação, EPS, Sprint 6, Technical Story

#86 Updated Sprints Reports
  README.md
  docs/org_artifacts/communication_plan.md
  docs/org_artifacts/requirements_engineering.md
  docs/org_artifacts/tap.md
  docs/org_artifacts/trainning_plan.md
  docs/roadmaps/eap/eap-Page-1.png
  docs/roadmaps/eap/eap-Page-2.png
  docs/roadmaps/eap/eap-Page-3.png
  docs/roadmaps/eap/eapv1.jpeg
  docs/roadmaps/eap_old.md
  docs/roadmaps/product/roadmap_product.png
  docs/roadmaps/roadmap.md
  docs/roadmaps/roadmap_old.md
  docs/roadmaps/roadmap_roles_old.md
  docs/roadmaps/roles/roadmap_roles.png
  docs/sprints/est_sprint.md
  docs/sprints/sprint0.md
  docs/sprints/sprint1.md
  docs/sprints/sprint2.md
  docs/sprints/sprint3.md
  docs/sprints/sprint4.md
  docs/sprints/sprint5.md
  docs/sprints/sprint6.md
  docs/sprints/sprint7.md
  mkdocs.yml
Labels: Documentação, EPS, Sprint 5, Sprint 6

#113 Refatora wiki
  README.md
  docs/index.md
  docs/org_artifacts/architecture_doc.md
  docs/org_artifacts/evm.md
  docs/org_artifacts/requirements_engineering.md
  docs/org_artifacts/risk_manegement.md
  docs/org_artifacts/team_monitoring.md
  docs/org_artifacts/trainning_plan.md
  docs/org_artifacts/vision_doc.md
  docs/policies/issues.md
  docs/policies/pull_requests.md
  docs/roadmaps/eap/eap-Page-1.png
  docs/roadmaps/roadmap.md
  docs/sprints/est_sprint.md
  docs/sprints/methodology.md
  docs/sprints/sprint5.md
  docs/sprints/sprint6.md
  docs/sprints/sprint7.md
  mkdocs.yml
Labels: Documentação, EPS, Organização, Refatoração, Sprint 7, Technical Story

#115 Adiciona o velocity
  docs/org_artifacts/risk_manegement.md
Labels: Documentação, EPS, Organização, Sprint 6

#116 R1
  README.md
  docs/index.md
  docs/org_artifacts/architecture_doc.md
  docs/org_artifacts/communication_plan.md
  docs/org_artifacts/evm.md
  docs/org_artifacts/img/architecture_diagram_3.jpg
  docs/org_artifacts/img/codacy.png
  docs/org_artifacts/img/code_climate.png
  docs/org_artifacts/img/mocha_chai.png
  docs/org_artifacts/img/nodejs_package.jpg
  docs/org_artifacts/img/post_unit_test.png
  docs/org_artifacts/img/reactjs_package.jpg
  docs/org_artifacts/quality_doc.md
  docs/org_artifacts/requirements_engineering.md
  docs/org_artifacts/risk_manegement.md
  docs/org_artifacts/tap.md
  docs/org_artifacts/team_monitoring.md
  docs/org_artifacts/trainning_plan.md
  docs/org_artifacts/vision_doc.md
  docs/policies/issues.md
  docs/policies/pull_requests.md
  docs/presentations/release_1.md
  docs/prototype.md
  docs/roadmaps/eap/eap-Page-1.png
  docs/roadmaps/eap/eap-Page-2.png
  docs/roadmaps/eap/eap-Page-3.png
  docs/roadmaps/eap/eapv1.jpeg
  docs/roadmaps/eap_old.md
  docs/roadmaps/product/roadmap_product.png
  docs/roadmaps/roadmap.md
  docs/roadmaps/roadmap_old.md
  docs/roadmaps/roadmap_roles_old.md
  docs/roadmaps/roles/roadmap_roles.png
  docs/sprints/est_sprint.md
  docs/sprints/methodology.md
  docs/sprints/sprint0.md
  docs/sprints/sprint1.md
  docs/sprints/sprint2.md
  docs/sprints/sprint3.md
  docs/sprints/sprint4.md
  docs/sprints/sprint5.md
  docs/sprints/sprint6.md
  docs/sprints/sprint7.md
  mkdocs.yml
Labels: Documentação, EPS, MDS, Organização, Sprint 6, Technical Story
